# Exclude batch files, VB6 and PB sample applications from the language statistics
*.bat linguist-vendored
src/VisualBasic6/* linguist-vendored
src/PureBasic/* linguist-vendored

# Exclude the website when packaging the source code
/docs export-ignore
